<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.cafe24.newpickme.user.domain.User" alias="User"/>
        <typeAlias type="com.cafe24.newpickme.admin.domain.Admin" alias="Admin"/>
        <typeAlias type="com.cafe24.newpickme.company.domain.Company" alias="Company"/>
        <typeAlias type="com.cafe24.newpickme.company.domain.IndustryCategory1" alias="IndustryCategory1"/>
        <typeAlias type="com.cafe24.newpickme.company.domain.IndustryCategory2" alias="IndustryCategory2"/>
        <typeAlias type="com.cafe24.newpickme.recruit.domain.Recruit" alias="Recruit"/>
        <typeAlias type="com.cafe24.newpickme.recruit.domain.RecruitJob" alias="RecruitJob"/>
        <typeAlias type="com.cafe24.newpickme.recruit.domain.CoverLetterArticle" alias="CoverLetterArticle"/>
        <typeAlias type="com.cafe24.newpickme.recruit.domain.JobCategory1" alias="JobCategory1"/>
        <typeAlias type="com.cafe24.newpickme.recruit.domain.JobCategory2" alias="JobCategory2"/>
        <typeAlias type="com.cafe24.newpickme.resume.domain.Resume" alias="Resume"/>
        <typeAlias type="com.cafe24.newpickme.resume.domain.Personal" alias="Personal"/>
        <typeAlias type="com.cafe24.newpickme.resume.domain.HighSchool" alias="HighSchool"/>
        <typeAlias type="com.cafe24.newpickme.resume.domain.University" alias="University"/>
        <typeAlias type="com.cafe24.newpickme.resume.domain.Language" alias="Language"/>
        <typeAlias type="com.cafe24.newpickme.resume.domain.Certificate" alias="Certificate"/>
        <typeAlias type="com.cafe24.newpickme.resume.domain.Career" alias="Career"/>
        <typeAlias type="com.cafe24.newpickme.resume.domain.Etc" alias="Etc"/>
        <package name="com.cafe24.newpickme"/>
    </typeAliases>

</configuration>

